/*
  Font
 */
body{
  font-family: 'Montserrat', sans-serif;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 12rem;    /* Footer height */
}


/*
  Navigation
 */
nav {
  background-color: #343a40 !important;
}

nav span {
  color : white;
}

nav img {
  height: 2em;
  width: auto;
}

#main-jumbotron{
  background-color: #1aaaba !important;
  color: white;
}

/*
  Table
 */
.table tbody tr
{
  cursor: pointer;
}
.table td:nth-child(5)
{
  text-align: center;
}

/*
  Modal
 */
#poll-modal .btn-group-answers{
  width: 100%;
}

#poll-modal #btn-vote{
  width: 80%;
}

#poll-modal .disabled{
  cursor: not-allowed;
}

/*
  Footer
 */
#footer-div {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 12rem;
}

footer .social
{
  height: 40px;
  width: 40px;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#copyright {
  color: gray !important;
}

#copyright a, #copyright a:hover, #copyright a:focus, #copyright a:active {
  color: gray !important;
  text-decoration: none;
}
