/*
  Navigation
 */
nav {
  background-color: #1aaaba !important;
}

nav span {
  color : white;
}

nav img {
  width: 2em;
  height: 2em;
}



/*
  Modal
 */
#poll-modal .btn-group-answers{
  width: 100%;
}

#poll-modal #btn-vote{
  width: 80%;
}
