/*
  Font
 */
body{
  font-family: 'Montserrat', sans-serif;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 18rem;    /* Footer height */
}


/*
  Navigation
 */
nav {
  background-color: #343a40 !important;
}

nav span {
  color : white;
}

nav img {
  height: 2em;
  width: auto;
}

#main-jumbotron{
  background-color: #1aaaba !important;
  color: white;
}

/*
  Table
 */
.table tbody tr
{
  cursor: pointer;
}
.table td:nth-child(5)
{
  text-align: center;
}

/*
  Modal
 */
#poll-modal .btn-group-answers{
  width: 100%;
}

#poll-modal #btn-vote{
  width: 80%;
}

#poll-modal .disabled{
  cursor: not-allowed;
}

/*
Toast
*/
.toast{
  position: fixed;
  bottom: 5em;
  left:50%;
  transform: translateX(-50%);
  z-index: 99;
  background-color: #1aaaba !important;
  color: white;
  text-align: center;
}
.toast span{
  color: white;
}
/*
  Footer5
 */
#footer-div {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 18rem;
}

footer .own-social-media
{
  height: 40px;
  width: 40px;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#copyright {
  color: gray !important;
}

#copyright a, #copyright a:hover, #copyright a:focus, #copyright a:active {
  color: gray !important;
  text-decoration: none;
}

/*
Cookie agreements
*/
#cookie-agreements{
  position: absolute;
  bottom: 0;
}

#cookie-agreements .alert-cookies{
  opacity: .95;
  font-weight: 500;
}

#cookie-agreements .alert-cookies  p{
  padding: 0;
  margin: 0;
  text-align: center;
}
